<h2 class="sub-header">Buddhisták</h2>
<% if params[:search] %>
  <h4>A keresésed erre a kulcsszóra: <span class="blue_highlight"><%= params[:search] %></span>, az alábbi eredményeket hozta: </h4>
  <hr/>
<% end %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Státusz</th>
      <th>Név</th>
      <th>Email</th>
      <th>Csipogó</th>
      <th>Telefonszám</th>
      <th>Program sms</th>
      <th>Cím</th>
      <th>Centrum</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buddhists.each do |buddhist| %>
      <tr>
        <td><%= buddhist.status %></td>
        <td><%= link_to buddhist.name, buddhist, class: 'text-link-style' %></td>
        <td><%= buddhist.email %></td>
        <td><%= buddhist.buzzer_id %></td>
        <td><%= buddhist.telephone_number %></td>
        <td><span class="icon-<%= buddhist.program_sms %> boolean-icon"></span></td>
        <td><%= buddhist.address %></td>
        <td><%= buddhist.local_center %></td>
        <td><%= link_to 'Befizet', new_payment_path(buddhist_id: buddhist.id), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Szerkeszt', edit_buddhist_path(buddhist), class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Töröl', buddhist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
