<h2 class="sub-header">Buddhisták</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Státusz</th>
      <th>Név</th>
      <th>Email</th>
      <th>Csipogó</th>
      <th>Telefonszám</th>
      <th>Program sms</th>
      <th>Cím</th>
      <th>Centrum</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buddhists.each do |buddhist| %>
      <tr>
        <td><%= buddhist.status %></td>
        <td><%= buddhist.name %></td>
        <td><%= buddhist.email %></td>
        <td><%= buddhist.buzzer_id %></td>
        <td><%= buddhist.telephone_number %></td>
        <td><%= buddhist.program_sms %></td>
        <td><%= buddhist.address %></td>
        <td><%= buddhist.local_center %></td>
        <td><%= link_to 'Befizet', new_payment_path(buddhist_id: buddhist.id), class: 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Megmutat', buddhist, class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Szerkeszt', edit_buddhist_path(buddhist), class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Töröl', buddhist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
