<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-sm-12">
	<h1 class="page-header"><%= @buddhist.name %></h2>
	<h2 class="sub-header"><%= @buddhist.email %></h2>
	</div>
</div>
<div class="row buddhist-data <%= @buddhist.status %>">
  <div class="col-sm-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Státusz</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.status %>
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Csipogó</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.buzzer_id %>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Telefonszám</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.telephone_number %>
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Program sms</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.program_sms %>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Cím</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.address %>
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Helyi centrum</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.local_center %>
          </div>
      </div>
  </div>
</div>
<% unless @payments.nil? %>
  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Currency</th>
      <th>Month</th>
      <th>Payment type</th>
      <th>Payment method</th>
      <th>Comment</th>
      <th>Library member</th>
      <th>Bicycle member</th>
      <th>Gym member</th>
      <th>Parking motorbike</th>
      <th>Parking car</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.currency %></td>
        <td><%= payment.month.to_formatted_s(:month_and_year) %></td>
        <td><%= payment.payment_type %></td>
        <td><%= payment.payment_method %></td>
        <td><%= payment.comment %></td>
        <td><%= payment.library_member %></td>
        <td><%= payment.bicycle_member %></td>
        <td><%= payment.gym_member %></td>
        <td><%= payment.parking_motorbike %></td>
        <td><%= payment.parking_car %></td>
        <td><%= link_to 'Show', payment, class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment), class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

 |
<%= link_to 'Back', buddhists_path %>
