<h2 class="sub-header">Befizetések</h2>
<div class="table-responsive">
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Összeg <%= link_to '^', payments_path(:sorting => 'amount', :order => 'asc'), class: 'tablehead-arrows' %>
                 <%= link_to 'v', payments_path(:sorting => 'amount', :order => 'desc'), class: 'tablehead-arrows mini-v' %></th>
      <th>Hónap  <%= link_to '^', payments_path(:sorting => 'month', :order => 'asc'), class: 'tablehead-arrows' %>
                 <%= link_to 'v', payments_path(:sorting => 'month', :order => 'desc'), class: 'tablehead-arrows mini-v' %></th>
      <th>Pénznem  <%= link_to '^', payments_path(:sorting => 'currency', :order => 'asc'), class: 'tablehead-arrows' %>
                   <%= link_to 'v', payments_path(:sorting => 'currency', :order => 'desc'), class: 'tablehead-arrows mini-v' %></th>
      <th>Befizetés jogcíme  <%= link_to '^', payments_path(:sorting => 'payment_type', :order => 'asc'), class: 'tablehead-arrows' %>
                             <%= link_to 'v', payments_path(:sorting => 'payment_type', :order => 'desc'), class: 'tablehead-arrows mini-v' %></th>
      <th>Befizetés módja   <%= link_to '^', payments_path(:sorting => 'payment_method', :order => 'asc'), class: 'tablehead-arrows' %>
                            <%= link_to 'v', payments_path(:sorting => 'payment_method', :order => 'desc'), class: 'tablehead-arrows mini-v' %></th>
      <th>Komment</th>
      <th>Könyvtár</th>
      <th>Kerékpár</th>
      <th>Gym</th>
      <th>Motor</th>
      <th>Autó</th>
      <th>Befizető</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= link_to payment.month.to_formatted_s(:month_and_year), payments_path(:sort_by_month => payment.month), class: 'payment_table_month' %></td>
        <td><%= payment.currency %></td>
        <td><%= payment.payment_type %></td>
        <td><%= payment.payment_method %></td>
        <td><%= payment.comment %></td>
        <td><span class="feature-icon library-member <%= payment.library_member %>"></span></td>
        <td><span class="feature-icon bicycle-member <%= payment.bicycle_member %>"></span></td>
        <td><span class="feature-icon gym-member <%= payment.gym_member %>"></span></td>
        <td><span class="feature-icon motorbike-member <%= payment.parking_motorbike %>"></span></td>
        <td><span class="feature-icon parking-member <%= payment.parking_car %>"></span></td>
        <td><%= link_to payment.buddhist.name, buddhist_path(payment.buddhist), class: 'text-link-style' %></td>
        <td><%= link_to 'Megnéz', payment, class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Szerkeszt', edit_payment_path(payment), class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Töröl', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path, class: 'btn btn-xm btn-info' %>
</div>