<h2 class="sub-header">Befizetések</h2>
<div class="table-responsive">
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Összeg</th>
      <th>Hónap</th>
      <th>Pénznem</th>
      <th>Befizetés jogcíme</th>
      <th>Befizetés módja</th>
      <th>Komment</th>
      <th>Könyvtár</th>
      <th>Kerékpár</th>
      <th>Gym</th>
      <th>Motor</th>
      <th>Autó</th>
      <th>Befizető</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.month.to_formatted_s(:month_and_year) %></td>
        <td><%= payment.currency %></td>
        <td><%= payment.payment_type %></td>
        <td><%= payment.payment_method %></td>
        <td><%= payment.comment %></td>
        <td><%= payment.library_member %></td>
        <td><%= payment.bicycle_member %></td>
        <td><%= payment.gym_member %></td>
        <td><%= payment.parking_motorbike %></td>
        <td><%= payment.parking_car %></td>
        <td><%= payment.buddhist.name %></td>
        <td><%= link_to 'Megnéz', payment, class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Szerkeszt', edit_payment_path(payment), class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Töröl', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
