<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Befizetés</h1>
  <hr/>
<%= link_to 'Szerkeszt', edit_payment_path(@payment), class: 'btn btn-medium btn-primary' %>
<%= link_to 'Töröl', @payment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-medium btn-danger' %>
<%= link_to 'Vissza', payments_path, class: 'btn btn-medium btn-info' %>
  <h4 class="last-payment-info"><b>Utolsó befizetés:</b> <%= @payment.created_at.to_formatted_s(:year_month_day_hours) %> </h4>
  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Befizetés időpontja</th>
      <th>Összeg </th>
      <th>Melyik hónapra</th>
      <th>Befizetés típusa</th>
      <th>Befizetés módja</th>
      <th>Megjegyzés</th>
      <th>Tagságok</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @payment.created_at.to_formatted_s(:year_month_day_hours) %></td>
        <td><%= @payment.amount %> <%= @payment.currency %></td>
        <td><%= @payment.month.to_formatted_s(:month_and_year) %></td>
        <td><%= @payment.payment_type %></td>
        <td><%= @payment.payment_method %></td>
        <td><%= @payment.comment %></td>
        <td>
        <span class="feature-icon library-member <%= @payment.library_member %>"></span>
        <span class="feature-icon bicycle-member <%= @payment.bicycle_member %>"></span>
        <span class="feature-icon gym-member <%= @payment.gym_member %>"></span>
        <span class="feature-icon motorbike-member <%= @payment.parking_motorbike %>"></span>
        <span class="feature-icon parking-member <%= @payment.parking_car %>"></span>
        </td>
      </tr>
  </tbody>
</table>
  </div>
</div>
<div class="row buddhist-data <%= @buddhist.status %>">
<h2 class="page-header"><%= @buddhist.name %></h2>
  <h3 class="sub-header"><%= @buddhist.email %></h3>
  <div class="col-sm-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Státusz</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.status %>
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Csipogó</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.buzzer_id %>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Telefonszám</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.telephone_number %>
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Program sms</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.program_sms %>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Cím</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.address %>
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Helyi centrum</h3>
          </div>
          <div class="panel-body">
            <%= @buddhist.local_center %>
          </div>
      </div>
  </div>
</div>
<h3>Történet</h3>
<% unless @changes.empty? %>
  <div class="row">
  <ol class="list-group">
  <% @changes.each do |change| %>
      <li class="list-group-item"> <strong>Módosította:</strong> <%= change['name'] %>, <strong>ekkor:</strong> <%= change['timestamp'] %>, <span class="badge <%= change['event'] %>"><%= change['event'] %></span></li>
  <% end %>
  </ol>
  </div>
<% end %>

