<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SanghaSupporter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-theme.min", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <%= link_to "Pártolói alkalmazás", buddhists_path, id: "application-logo", class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Vezérlőpult", dashboard_index_path %></li>
            <li><%= link_to "Buddhisták", buddhists_path %></li>
            <li><%= link_to "Befizetések", payments_path %></li>
            <li><a href="#">Gépház</a></li>
            <li><a href="#">Segítség</a></li>
          </ul>
          <form class="navbar-form navbar-right" method="get" id="autosearch" action="/autosearch">
            <input type="text" class="form-control typeahead" placeholder="Gyorskereső..." name="name"/>
          </form>
        </div>
</div>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><%= link_to 'Új buddhista', new_buddhist_path %></li>
            <% if controller_name == "buddhists" && action_name == "show" %>

            <li><%= link_to 'Budhista szerkesztése', edit_buddhist_path(@buddhist) %></li>
            <li><%= link_to 'Buddhista törlése', @buddhist, method: :delete, data: { confirm: 'Are you sure?' }%></li>
            <% end %>
          </ul>
          <% if controller_name == "buddhists" && action_name == "show" %>
          <ul class="nav nav-sidebar">
            <li><%= link_to 'Új befizetés', new_payment_path(buddhist_id: @buddhist.id) %></li>
          </ul>
          <% end %>
        </div>
        <div class="col-md-10 main">
          <% flash.each do |type, message| %>
            <div class="alert <%= bootstrap_class_for(type) %> fade in">
              <button class="close" data-dismiss="alert">×</button>
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "typeahead.bundle.min", "data-turbolinks-track" => false %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% if controller_name == "dashboard" %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= javascript_include_tag "dashboard-reports", "data-turbolinks-track" => true %>
<% end %>
</body>
</html>
